Repository soycharroup/memoryreel-sf7f50, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @devops-team, @frontend-team, @accessibility-team, @ios-team, @mobile-leads, @android-team, @cloud-architects, @qa-team, @test-automation, @security-leads, @cloud-security, @docs-team, @technical-writers

Add public-samples/memoryreel-sf7f50/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @docs-team, @project-leads, @technical-writers

Add public-samples/memoryreel-sf7f50/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @docs-team, @project-leads, @technical-writers

Add public-samples/memoryreel-sf7f50/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @docs-team, @project-leads, @technical-writers

Add public-samples/memoryreel-sf7f50/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @project-leads

Add public-samples/memoryreel-sf7f50/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @project-leads

Add public-samples/memoryreel-sf7f50/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @project-leads

Add public-samples/memoryreel-sf7f50/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @project-leads

Add public-samples/memoryreel-sf7f50/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team, @project-leads, @technical-writers

Add public-samples/memoryreel-sf7f50/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team, @project-leads, @technical-writers

Add public-samples/memoryreel-sf7f50/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team, @project-leads, @technical-writers

Add public-samples/memoryreel-sf7f50/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team, @project-leads, @technical-writers

Add public-samples/memoryreel-sf7f50/infrastructure/docker/backend/.dockerignore
  infrastructure/docker/backend/.dockerignore
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/docker/backend/Dockerfile
  infrastructure/docker/backend/Dockerfile
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/docker/backend/Dockerfile.dev
  infrastructure/docker/backend/Dockerfile.dev
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/docker/nginx/nginx.conf
  infrastructure/docker/nginx/nginx.conf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/docker/nginx/nginx.dev.conf
  infrastructure/docker/nginx/nginx.dev.conf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/docker/web/.dockerignore
  infrastructure/docker/web/.dockerignore
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/docker/web/Dockerfile
  infrastructure/docker/web/Dockerfile
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/docker/web/Dockerfile.dev
  infrastructure/docker/web/Dockerfile.dev
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/kubernetes/base/backend-deployment.yaml
  infrastructure/kubernetes/base/backend-deployment.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/kubernetes/base/backend-service.yaml
  infrastructure/kubernetes/base/backend-service.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/kubernetes/base/ingress.yaml
  infrastructure/kubernetes/base/ingress.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/kubernetes/base/web-deployment.yaml
  infrastructure/kubernetes/base/web-deployment.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/kubernetes/base/web-service.yaml
  infrastructure/kubernetes/base/web-service.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/kubernetes/overlays/dev/kustomization.yaml
  infrastructure/kubernetes/overlays/dev/kustomization.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/kubernetes/overlays/prod/kustomization.yaml
  infrastructure/kubernetes/overlays/prod/kustomization.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/kubernetes/overlays/staging/kustomization.yaml
  infrastructure/kubernetes/overlays/staging/kustomization.yaml
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/scripts/setup-env.sh
  infrastructure/scripts/setup-env.sh
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/provider.tf
  infrastructure/terraform/provider.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/versions.tf
  infrastructure/terraform/versions.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @security-team, @cloud-architects

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global ownership - required review from project leads
*                                               @project-leads

# Backend services and APIs
src/backend/**                                  @backend-team @security-team

# AI service implementations with enhanced security
src/backend/src/services/ai/**                  @ai-team @backend-team @security-team

# Backend configuration with security and infrastructure review
src/backend/src/config/**                       @backend-team @security-team @devops-team

# Web application components and accessibility
src/web/**                                      @frontend-team @accessibility-team

# iOS/tvOS application components
src/ios/**                                      @ios-team @mobile-leads

# Android mobile and TV applications
src/android/**                                  @android-team @mobile-leads

# Infrastructure and cloud configuration
infrastructure/**                               @devops-team @security-team @cloud-architects

# Test suites and automation
src/**/tests/**                                 @qa-team @test-automation

# Security-specific files
**/security.constants.ts                        @security-team @security-leads
**/auth.*.ts                                    @security-team @backend-team @security-leads
infrastructure/terraform/modules/security/**     @security-team @devops-team @cloud-security

# Documentation
**/*.md                                         @docs-team @project-leads @technical-writers
SECURITY.md                                     @security-team @docs-team @security-leads
