Repository soycharroup/memoryreel-sf7f50, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @devops-team, @frontend-team, @accessibility-team, @ios-team, @mobile-leads, @android-team, @cloud-architects, @qa-team, @test-automation, @security-leads, @cloud-security, @docs-team, @technical-writers

Add public-samples/memoryreel-sf7f50/src/web/src/pages/media/MediaLibrary.tsx
  src/web/src/pages/media/MediaLibrary.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/pages/media/Upload.tsx
  src/web/src/pages/media/Upload.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/pages/search/Search.tsx
  src/web/src/pages/search/Search.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/pages/tv/TvDashboard.tsx
  src/web/src/pages/tv/TvDashboard.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/pages/tv/TvLibrary.tsx
  src/web/src/pages/tv/TvLibrary.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/pages/tv/TvPlayer.tsx
  src/web/src/pages/tv/TvPlayer.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/pages/tv/TvSearch.tsx
  src/web/src/pages/tv/TvSearch.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/services/api.service.ts
  src/web/src/services/api.service.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/services/auth.service.ts
  src/web/src/services/auth.service.ts
Owners: @security-team, @backend-team, @security-leads

Add public-samples/memoryreel-sf7f50/src/web/src/services/library.service.ts
  src/web/src/services/library.service.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/services/media.service.ts
  src/web/src/services/media.service.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/services/search.service.ts
  src/web/src/services/search.service.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/services/storage.service.ts
  src/web/src/services/storage.service.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/services/upload.service.ts
  src/web/src/services/upload.service.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/store/index.ts
  src/web/src/store/index.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/store/slices/authSlice.ts
  src/web/src/store/slices/authSlice.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/store/slices/librarySlice.ts
  src/web/src/store/slices/librarySlice.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/store/slices/mediaSlice.ts
  src/web/src/store/slices/mediaSlice.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/store/slices/searchSlice.ts
  src/web/src/store/slices/searchSlice.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/store/slices/uiSlice.ts
  src/web/src/store/slices/uiSlice.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/styles/global.css
  src/web/src/styles/global.css
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/styles/tailwind.css
  src/web/src/styles/tailwind.css
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/styles/tv.css
  src/web/src/styles/tv.css
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/styles/variables.css
  src/web/src/styles/variables.css
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/types/api.d.ts
  src/web/src/types/api.d.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/types/global.d.ts
  src/web/src/types/global.d.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/types/media.d.ts
  src/web/src/types/media.d.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/types/user.d.ts
  src/web/src/types/user.d.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/utils/date.util.ts
  src/web/src/utils/date.util.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/utils/device.util.ts
  src/web/src/utils/device.util.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/utils/format.util.ts
  src/web/src/utils/format.util.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/utils/media.util.ts
  src/web/src/utils/media.util.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/utils/storage.util.ts
  src/web/src/utils/storage.util.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/src/utils/validation.util.ts
  src/web/src/utils/validation.util.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/tests/components/common/Avatar.test.tsx
  src/web/tests/components/common/Avatar.test.tsx
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/web/tests/components/common/Button.test.tsx
  src/web/tests/components/common/Button.test.tsx
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/web/tests/components/common/Card.test.tsx
  src/web/tests/components/common/Card.test.tsx
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/web/tests/components/common/Carousel.test.tsx
  src/web/tests/components/common/Carousel.test.tsx
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/web/tests/components/common/__snapshots__
  src/web/tests/components/common/__snapshots__
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/web/tests/components/media/MediaCard.test.tsx
  src/web/tests/components/media/MediaCard.test.tsx
Owners: @qa-team, @test-automation

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global ownership - required review from project leads
*                                               @project-leads

# Backend services and APIs
src/backend/**                                  @backend-team @security-team

# AI service implementations with enhanced security
src/backend/src/services/ai/**                  @ai-team @backend-team @security-team

# Backend configuration with security and infrastructure review
src/backend/src/config/**                       @backend-team @security-team @devops-team

# Web application components and accessibility
src/web/**                                      @frontend-team @accessibility-team

# iOS/tvOS application components
src/ios/**                                      @ios-team @mobile-leads

# Android mobile and TV applications
src/android/**                                  @android-team @mobile-leads

# Infrastructure and cloud configuration
infrastructure/**                               @devops-team @security-team @cloud-architects

# Test suites and automation
src/**/tests/**                                 @qa-team @test-automation

# Security-specific files
**/security.constants.ts                        @security-team @security-leads
**/auth.*.ts                                    @security-team @backend-team @security-leads
infrastructure/terraform/modules/security/**     @security-team @devops-team @cloud-security

# Documentation
**/*.md                                         @docs-team @project-leads @technical-writers
SECURITY.md                                     @security-team @docs-team @security-leads
