Repository soycharroup/memoryreel-sf7f50, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @devops-team, @frontend-team, @accessibility-team, @ios-team, @mobile-leads, @android-team, @cloud-architects, @qa-team, @test-automation, @security-leads, @cloud-security, @docs-team, @technical-writers

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/ai/main.tf
  infrastructure/terraform/modules/ai/main.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/ai/outputs.tf
  infrastructure/terraform/modules/ai/outputs.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/ai/variables.tf
  infrastructure/terraform/modules/ai/variables.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/api/main.tf
  infrastructure/terraform/modules/api/main.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/api/outputs.tf
  infrastructure/terraform/modules/api/outputs.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/api/variables.tf
  infrastructure/terraform/modules/api/variables.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/cdn/main.tf
  infrastructure/terraform/modules/cdn/main.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/cdn/outputs.tf
  infrastructure/terraform/modules/cdn/outputs.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/cdn/variables.tf
  infrastructure/terraform/modules/cdn/variables.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @security-team, @devops-team, @cloud-security

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/security/outputs.tf
  infrastructure/terraform/modules/security/outputs.tf
Owners: @security-team, @devops-team, @cloud-security

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/security/variables.tf
  infrastructure/terraform/modules/security/variables.tf
Owners: @security-team, @devops-team, @cloud-security

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @devops-team, @security-team, @cloud-architects

Add public-samples/memoryreel-sf7f50/src/android/.gitignore
  src/android/.gitignore
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/README.md
  src/android/README.md
Owners: @docs-team, @project-leads, @technical-writers

Add public-samples/memoryreel-sf7f50/src/android/build.gradle
  src/android/build.gradle
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/gradle.properties
  src/android/gradle.properties
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/gradlew
  src/android/gradlew
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/gradlew.bat
  src/android/gradlew.bat
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/settings.gradle
  src/android/settings.gradle
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/build.gradle
  src/android/app/build.gradle
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/proguard-rules.pro
  src/android/app/proguard-rules.pro
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/androidTest/java/com/memoryreel/AuthenticationTest.java
  src/android/app/src/androidTest/java/com/memoryreel/AuthenticationTest.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/androidTest/java/com/memoryreel/CameraManagerTest.java
  src/android/app/src/androidTest/java/com/memoryreel/CameraManagerTest.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/androidTest/java/com/memoryreel/MediaManagerTest.java
  src/android/app/src/androidTest/java/com/memoryreel/MediaManagerTest.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/androidTest/java/com/memoryreel/NetworkManagerTest.java
  src/android/app/src/androidTest/java/com/memoryreel/NetworkManagerTest.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/androidTest/java/com/memoryreel/UploadServiceTest.java
  src/android/app/src/androidTest/java/com/memoryreel/UploadServiceTest.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/androidTest/java/com/memoryreel/tv/TvMediaPlayerTest.java
  src/android/app/src/androidTest/java/com/memoryreel/tv/TvMediaPlayerTest.java
Owners: @android-team, @mobile-leads

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global ownership - required review from project leads
*                                               @project-leads

# Backend services and APIs
src/backend/**                                  @backend-team @security-team

# AI service implementations with enhanced security
src/backend/src/services/ai/**                  @ai-team @backend-team @security-team

# Backend configuration with security and infrastructure review
src/backend/src/config/**                       @backend-team @security-team @devops-team

# Web application components and accessibility
src/web/**                                      @frontend-team @accessibility-team

# iOS/tvOS application components
src/ios/**                                      @ios-team @mobile-leads

# Android mobile and TV applications
src/android/**                                  @android-team @mobile-leads

# Infrastructure and cloud configuration
infrastructure/**                               @devops-team @security-team @cloud-architects

# Test suites and automation
src/**/tests/**                                 @qa-team @test-automation

# Security-specific files
**/security.constants.ts                        @security-team @security-leads
**/auth.*.ts                                    @security-team @backend-team @security-leads
infrastructure/terraform/modules/security/**     @security-team @devops-team @cloud-security

# Documentation
**/*.md                                         @docs-team @project-leads @technical-writers
SECURITY.md                                     @security-team @docs-team @security-leads
