Repository soycharroup/memoryreel-sf7f50, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @devops-team, @frontend-team, @accessibility-team, @ios-team, @mobile-leads, @android-team, @cloud-architects, @qa-team, @test-automation, @security-leads, @cloud-security, @docs-team, @technical-writers

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReel/Utils/MediaUtils.swift
  src/ios/MemoryReel/Utils/MediaUtils.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReel/Utils/NetworkUtils.swift
  src/ios/MemoryReel/Utils/NetworkUtils.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReel/Utils/SecurityUtils.swift
  src/ios/MemoryReel/Utils/SecurityUtils.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/AppDelegate.swift
  src/ios/MemoryReelTV/AppDelegate.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/Info.plist
  src/ios/MemoryReelTV/Info.plist
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/Resources/Assets.xcassets/Contents.json
  src/ios/MemoryReelTV/Resources/Assets.xcassets/Contents.json
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/Resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Contents.json
  src/ios/MemoryReelTV/Resources/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Contents.json
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/Resources/LaunchImage.launchimage/Contents.json
  src/ios/MemoryReelTV/Resources/LaunchImage.launchimage/Contents.json
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/TVModules/RNBridge/RNTVBridge.swift
  src/ios/MemoryReelTV/TVModules/RNBridge/RNTVBridge.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/TVModules/RNBridge/RNTVNavigationBridge.swift
  src/ios/MemoryReelTV/TVModules/RNBridge/RNTVNavigationBridge.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/TVModules/RNBridge/RNTVPlayerBridge.swift
  src/ios/MemoryReelTV/TVModules/RNBridge/RNTVPlayerBridge.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/TVServices/TVFocusEngine.swift
  src/ios/MemoryReelTV/TVServices/TVFocusEngine.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/TVServices/TVMediaPlayer.swift
  src/ios/MemoryReelTV/TVServices/TVMediaPlayer.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/TVServices/TVNavigationManager.swift
  src/ios/MemoryReelTV/TVServices/TVNavigationManager.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV/TVServices/TVRemoteHandler.swift
  src/ios/MemoryReelTV/TVServices/TVRemoteHandler.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/Tests/MemoryReelTVTests/TVMediaPlayerTests.swift
  src/ios/Tests/MemoryReelTVTests/TVMediaPlayerTests.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/Tests/MemoryReelTVTests/TVNavigationTests.swift
  src/ios/Tests/MemoryReelTVTests/TVNavigationTests.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/Tests/MemoryReelTests/AuthenticationTests.swift
  src/ios/Tests/MemoryReelTests/AuthenticationTests.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/Tests/MemoryReelTests/CameraManagerTests.swift
  src/ios/Tests/MemoryReelTests/CameraManagerTests.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/Tests/MemoryReelTests/MediaManagerTests.swift
  src/ios/Tests/MemoryReelTests/MediaManagerTests.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/Tests/MemoryReelTests/NetworkManagerTests.swift
  src/ios/Tests/MemoryReelTests/NetworkManagerTests.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/Tests/MemoryReelTests/UploadServiceTests.swift
  src/ios/Tests/MemoryReelTests/UploadServiceTests.swift
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/fastlane/Appfile
  src/ios/fastlane/Appfile
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/fastlane/Fastfile
  src/ios/fastlane/Fastfile
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/fastlane/Matchfile
  src/ios/fastlane/Matchfile
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/scripts/build.sh
  src/ios/scripts/build.sh
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/scripts/setup.sh
  src/ios/scripts/setup.sh
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/scripts/test.sh
  src/ios/scripts/test.sh
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/README.md
  src/web/README.md
Owners: @docs-team, @project-leads, @technical-writers

Add public-samples/memoryreel-sf7f50/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team, @accessibility-team

Add public-samples/memoryreel-sf7f50/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team, @accessibility-team

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global ownership - required review from project leads
*                                               @project-leads

# Backend services and APIs
src/backend/**                                  @backend-team @security-team

# AI service implementations with enhanced security
src/backend/src/services/ai/**                  @ai-team @backend-team @security-team

# Backend configuration with security and infrastructure review
src/backend/src/config/**                       @backend-team @security-team @devops-team

# Web application components and accessibility
src/web/**                                      @frontend-team @accessibility-team

# iOS/tvOS application components
src/ios/**                                      @ios-team @mobile-leads

# Android mobile and TV applications
src/android/**                                  @android-team @mobile-leads

# Infrastructure and cloud configuration
infrastructure/**                               @devops-team @security-team @cloud-architects

# Test suites and automation
src/**/tests/**                                 @qa-team @test-automation

# Security-specific files
**/security.constants.ts                        @security-team @security-leads
**/auth.*.ts                                    @security-team @backend-team @security-leads
infrastructure/terraform/modules/security/**     @security-team @devops-team @cloud-security

# Documentation
**/*.md                                         @docs-team @project-leads @technical-writers
SECURITY.md                                     @security-team @docs-team @security-leads
