Repository soycharroup/memoryreel-sf7f50, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @devops-team, @frontend-team, @accessibility-team, @ios-team, @mobile-leads, @android-team, @cloud-architects, @qa-team, @test-automation, @security-leads, @cloud-security, @docs-team, @technical-writers

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global ownership - required review from project leads
*                                               @project-leads

# Backend services and APIs
src/backend/**                                  @backend-team @security-team

# AI service implementations with enhanced security
src/backend/src/services/ai/**                  @ai-team @backend-team @security-team

# Backend configuration with security and infrastructure review
src/backend/src/config/**                       @backend-team @security-team @devops-team

# Web application components and accessibility
src/web/**                                      @frontend-team @accessibility-team

# iOS/tvOS application components
src/ios/**                                      @ios-team @mobile-leads

# Android mobile and TV applications
src/android/**                                  @android-team @mobile-leads

# Infrastructure and cloud configuration
infrastructure/**                               @devops-team @security-team @cloud-architects

# Test suites and automation
src/**/tests/**                                 @qa-team @test-automation

# Security-specific files
**/security.constants.ts                        @security-team @security-leads
**/auth.*.ts                                    @security-team @backend-team @security-leads
infrastructure/terraform/modules/security/**     @security-team @devops-team @cloud-security

# Documentation
**/*.md                                         @docs-team @project-leads @technical-writers
SECURITY.md                                     @security-team @docs-team @security-leads

Add public-samples/memoryreel-sf7f50/src/backend/src/controllers/ai.controller.ts
  src/backend/src/controllers/ai.controller.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/controllers/auth.controller.ts
  src/backend/src/controllers/auth.controller.ts
Owners: @security-team, @backend-team, @security-leads

Add public-samples/memoryreel-sf7f50/src/backend/src/controllers/content.controller.ts
  src/backend/src/controllers/content.controller.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/controllers/library.controller.ts
  src/backend/src/controllers/library.controller.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/controllers/search.controller.ts
  src/backend/src/controllers/search.controller.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/controllers/user.controller.ts
  src/backend/src/controllers/user.controller.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/interfaces/ai.interface.ts
  src/backend/src/interfaces/ai.interface.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/interfaces/auth.interface.ts
  src/backend/src/interfaces/auth.interface.ts
Owners: @security-team, @backend-team, @security-leads

Add public-samples/memoryreel-sf7f50/src/backend/src/interfaces/content.interface.ts
  src/backend/src/interfaces/content.interface.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/interfaces/library.interface.ts
  src/backend/src/interfaces/library.interface.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/interfaces/search.interface.ts
  src/backend/src/interfaces/search.interface.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/interfaces/user.interface.ts
  src/backend/src/interfaces/user.interface.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/middleware/auth.middleware.ts
  src/backend/src/middleware/auth.middleware.ts
Owners: @security-team, @backend-team, @security-leads

Add public-samples/memoryreel-sf7f50/src/backend/src/middleware/error.middleware.ts
  src/backend/src/middleware/error.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/middleware/rateLimit.middleware.ts
  src/backend/src/middleware/rateLimit.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/middleware/validation.middleware.ts
  src/backend/src/middleware/validation.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/models/content.model.ts
  src/backend/src/models/content.model.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/models/faceData.model.ts
  src/backend/src/models/faceData.model.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/models/library.model.ts
  src/backend/src/models/library.model.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/models/subscription.model.ts
  src/backend/src/models/subscription.model.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/models/user.model.ts
  src/backend/src/models/user.model.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/routes/ai.routes.ts
  src/backend/src/routes/ai.routes.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/routes/auth.routes.ts
  src/backend/src/routes/auth.routes.ts
Owners: @security-team, @backend-team, @security-leads

Add public-samples/memoryreel-sf7f50/src/backend/src/routes/content.routes.ts
  src/backend/src/routes/content.routes.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/routes/index.ts
  src/backend/src/routes/index.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/routes/library.routes.ts
  src/backend/src/routes/library.routes.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/routes/search.routes.ts
  src/backend/src/routes/search.routes.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/routes/user.routes.ts
  src/backend/src/routes/user.routes.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/ai/faceRecognition.service.ts
  src/backend/src/services/ai/faceRecognition.service.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/ai/imageAnalysis.service.ts
  src/backend/src/services/ai/imageAnalysis.service.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/ai/index.ts
  src/backend/src/services/ai/index.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/ai/providers/aws.provider.ts
  src/backend/src/services/ai/providers/aws.provider.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/ai/providers/google.provider.ts
  src/backend/src/services/ai/providers/google.provider.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/ai/providers/openai.provider.ts
  src/backend/src/services/ai/providers/openai.provider.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/auth/cognito.service.ts
  src/backend/src/services/auth/cognito.service.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/auth/jwt.service.ts
  src/backend/src/services/auth/jwt.service.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/auth/mfa.service.ts
  src/backend/src/services/auth/mfa.service.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/content/contentProcessor.service.ts
  src/backend/src/services/content/contentProcessor.service.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/content/mediaConverter.service.ts
  src/backend/src/services/content/mediaConverter.service.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/content/metadataExtractor.service.ts
  src/backend/src/services/content/metadataExtractor.service.ts
Owners: @backend-team, @security-team
