Repository soycharroup/memoryreel-sf7f50, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @devops-team, @frontend-team, @accessibility-team, @ios-team, @mobile-leads, @android-team, @cloud-architects, @qa-team, @test-automation, @security-leads, @cloud-security, @docs-team, @technical-writers

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global ownership - required review from project leads
*                                               @project-leads

# Backend services and APIs
src/backend/**                                  @backend-team @security-team

# AI service implementations with enhanced security
src/backend/src/services/ai/**                  @ai-team @backend-team @security-team

# Backend configuration with security and infrastructure review
src/backend/src/config/**                       @backend-team @security-team @devops-team

# Web application components and accessibility
src/web/**                                      @frontend-team @accessibility-team

# iOS/tvOS application components
src/ios/**                                      @ios-team @mobile-leads

# Android mobile and TV applications
src/android/**                                  @android-team @mobile-leads

# Infrastructure and cloud configuration
infrastructure/**                               @devops-team @security-team @cloud-architects

# Test suites and automation
src/**/tests/**                                 @qa-team @test-automation

# Security-specific files
**/security.constants.ts                        @security-team @security-leads
**/auth.*.ts                                    @security-team @backend-team @security-leads
infrastructure/terraform/modules/security/**     @security-team @devops-team @cloud-security

# Documentation
**/*.md                                         @docs-team @project-leads @technical-writers
SECURITY.md                                     @security-team @docs-team @security-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/test/java/com/memoryreel/ExampleUnitTest.java
  src/android/app/src/test/java/com/memoryreel/ExampleUnitTest.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/AndroidManifest.xml
  src/android/app/src/tv/AndroidManifest.xml
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/java/com/memoryreel/tv/TvMainActivity.java
  src/android/app/src/tv/java/com/memoryreel/tv/TvMainActivity.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/java/com/memoryreel/tv/modules/rnbridge/RNTvBridge.java
  src/android/app/src/tv/java/com/memoryreel/tv/modules/rnbridge/RNTvBridge.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/java/com/memoryreel/tv/modules/rnbridge/RNTvNavigationModule.java
  src/android/app/src/tv/java/com/memoryreel/tv/modules/rnbridge/RNTvNavigationModule.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/java/com/memoryreel/tv/modules/rnbridge/RNTvPlayerModule.java
  src/android/app/src/tv/java/com/memoryreel/tv/modules/rnbridge/RNTvPlayerModule.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/java/com/memoryreel/tv/services/TvFocusManager.java
  src/android/app/src/tv/java/com/memoryreel/tv/services/TvFocusManager.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/java/com/memoryreel/tv/services/TvMediaPlayer.java
  src/android/app/src/tv/java/com/memoryreel/tv/services/TvMediaPlayer.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/java/com/memoryreel/tv/services/TvNavigationManager.java
  src/android/app/src/tv/java/com/memoryreel/tv/services/TvNavigationManager.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/java/com/memoryreel/tv/services/TvRemoteHandler.java
  src/android/app/src/tv/java/com/memoryreel/tv/services/TvRemoteHandler.java
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/res/drawable/tv_banner.xml
  src/android/app/src/tv/res/drawable/tv_banner.xml
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/res/layout/activity_tv_main.xml
  src/android/app/src/tv/res/layout/activity_tv_main.xml
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/res/values/strings.xml
  src/android/app/src/tv/res/values/strings.xml
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/res/values/styles.xml
  src/android/app/src/tv/res/values/styles.xml
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/app/src/tv/res/values/themes.xml
  src/android/app/src/tv/res/values/themes.xml
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/fastlane/Appfile
  src/android/fastlane/Appfile
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/fastlane/Fastfile
  src/android/fastlane/Fastfile
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/fastlane/Matchfile
  src/android/fastlane/Matchfile
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/scripts/build.sh
  src/android/scripts/build.sh
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/scripts/setup.sh
  src/android/scripts/setup.sh
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/android/scripts/test.sh
  src/android/scripts/test.sh
Owners: @android-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/README.md
  src/backend/README.md
Owners: @docs-team, @project-leads, @technical-writers

Add public-samples/memoryreel-sf7f50/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/package.json
  src/backend/package.json
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/config/ai.config.ts
  src/backend/src/config/ai.config.ts
Owners: @backend-team, @security-team, @devops-team

Add public-samples/memoryreel-sf7f50/src/backend/src/config/auth.config.ts
  src/backend/src/config/auth.config.ts
Owners: @security-team, @backend-team, @security-leads

Add public-samples/memoryreel-sf7f50/src/backend/src/config/aws.config.ts
  src/backend/src/config/aws.config.ts
Owners: @backend-team, @security-team, @devops-team

Add public-samples/memoryreel-sf7f50/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @backend-team, @security-team, @devops-team

Add public-samples/memoryreel-sf7f50/src/backend/src/config/redis.config.ts
  src/backend/src/config/redis.config.ts
Owners: @backend-team, @security-team, @devops-team

Add public-samples/memoryreel-sf7f50/src/backend/src/config/storage.config.ts
  src/backend/src/config/storage.config.ts
Owners: @backend-team, @security-team, @devops-team

Add public-samples/memoryreel-sf7f50/src/backend/src/constants/error.constants.ts
  src/backend/src/constants/error.constants.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/constants/media.constants.ts
  src/backend/src/constants/media.constants.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/constants/security.constants.ts
  src/backend/src/constants/security.constants.ts
Owners: @security-team, @security-leads
