Repository soycharroup/memoryreel-sf7f50, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @devops-team, @frontend-team, @accessibility-team, @ios-team, @mobile-leads, @android-team, @cloud-architects, @qa-team, @test-automation, @security-leads, @cloud-security, @docs-team, @technical-writers

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global ownership - required review from project leads
*                                               @project-leads

# Backend services and APIs
src/backend/**                                  @backend-team @security-team

# AI service implementations with enhanced security
src/backend/src/services/ai/**                  @ai-team @backend-team @security-team

# Backend configuration with security and infrastructure review
src/backend/src/config/**                       @backend-team @security-team @devops-team

# Web application components and accessibility
src/web/**                                      @frontend-team @accessibility-team

# iOS/tvOS application components
src/ios/**                                      @ios-team @mobile-leads

# Android mobile and TV applications
src/android/**                                  @android-team @mobile-leads

# Infrastructure and cloud configuration
infrastructure/**                               @devops-team @security-team @cloud-architects

# Test suites and automation
src/**/tests/**                                 @qa-team @test-automation

# Security-specific files
**/security.constants.ts                        @security-team @security-leads
**/auth.*.ts                                    @security-team @backend-team @security-leads
infrastructure/terraform/modules/security/**     @security-team @devops-team @cloud-security

# Documentation
**/*.md                                         @docs-team @project-leads @technical-writers
SECURITY.md                                     @security-team @docs-team @security-leads

Add public-samples/memoryreel-sf7f50/src/backend/src/services/library/libraryManager.service.ts
  src/backend/src/services/library/libraryManager.service.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/library/sharingManager.service.ts
  src/backend/src/services/library/sharingManager.service.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/search/searchEngine.service.ts
  src/backend/src/services/search/searchEngine.service.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/storage/s3.service.ts
  src/backend/src/services/storage/s3.service.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/user/subscriptionManager.service.ts
  src/backend/src/services/user/subscriptionManager.service.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/services/user/userManager.service.ts
  src/backend/src/services/user/userManager.service.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/utils/encryption.util.ts
  src/backend/src/utils/encryption.util.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/utils/logger.util.ts
  src/backend/src/utils/logger.util.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/utils/response.util.ts
  src/backend/src/utils/response.util.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/utils/validation.util.ts
  src/backend/src/utils/validation.util.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/validators/ai.validator.ts
  src/backend/src/validators/ai.validator.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/validators/auth.validator.ts
  src/backend/src/validators/auth.validator.ts
Owners: @security-team, @backend-team, @security-leads

Add public-samples/memoryreel-sf7f50/src/backend/src/validators/content.validator.ts
  src/backend/src/validators/content.validator.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/validators/library.validator.ts
  src/backend/src/validators/library.validator.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/validators/search.validator.ts
  src/backend/src/validators/search.validator.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/src/validators/user.validator.ts
  src/backend/src/validators/user.validator.ts
Owners: @backend-team, @security-team

Add public-samples/memoryreel-sf7f50/src/backend/tests/integration/ai.test.ts
  src/backend/tests/integration/ai.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/backend/tests/integration/auth.test.ts
  src/backend/tests/integration/auth.test.ts
Owners: @security-team, @backend-team, @security-leads

Add public-samples/memoryreel-sf7f50/src/backend/tests/integration/content.test.ts
  src/backend/tests/integration/content.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/backend/tests/integration/library.test.ts
  src/backend/tests/integration/library.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/backend/tests/integration/search.test.ts
  src/backend/tests/integration/search.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/backend/tests/integration/user.test.ts
  src/backend/tests/integration/user.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/backend/tests/unit/services/ai.test.ts
  src/backend/tests/unit/services/ai.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/backend/tests/unit/services/auth.test.ts
  src/backend/tests/unit/services/auth.test.ts
Owners: @security-team, @backend-team, @security-leads

Add public-samples/memoryreel-sf7f50/src/backend/tests/unit/services/content.test.ts
  src/backend/tests/unit/services/content.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/backend/tests/unit/services/library.test.ts
  src/backend/tests/unit/services/library.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/backend/tests/unit/services/search.test.ts
  src/backend/tests/unit/services/search.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/backend/tests/unit/services/user.test.ts
  src/backend/tests/unit/services/user.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/backend/tests/unit/utils/encryption.test.ts
  src/backend/tests/unit/utils/encryption.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/backend/tests/unit/utils/validation.test.ts
  src/backend/tests/unit/utils/validation.test.ts
Owners: @qa-team, @test-automation

Add public-samples/memoryreel-sf7f50/src/ios/.gitignore
  src/ios/.gitignore
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/.swiftlint.yml
  src/ios/.swiftlint.yml
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReel.xctestplan
  src/ios/MemoryReel.xctestplan
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReelTV.xctestplan
  src/ios/MemoryReelTV.xctestplan
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/Podfile
  src/ios/Podfile
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/Podfile.lock
  src/ios/Podfile.lock
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/README.md
  src/ios/README.md
Owners: @docs-team, @project-leads, @technical-writers

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReel.xcodeproj/project.pbxproj
  src/ios/MemoryReel.xcodeproj/project.pbxproj
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReel.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  src/ios/MemoryReel.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Owners: @ios-team, @mobile-leads

Add public-samples/memoryreel-sf7f50/src/ios/MemoryReel.xcodeproj/xcshareddata/xcschemes/MemoryReel.xcscheme
  src/ios/MemoryReel.xcodeproj/xcshareddata/xcschemes/MemoryReel.xcscheme
Owners: @ios-team, @mobile-leads
